<div class="about-page">
  <h1>about me</h1>

  <div class="about-me-container" layout="row" layout-sm="column" layout-align="space-between center">
    <div class="about-me-photo" layout="column" flex="20"></div>
    <div class="about-me-description" layout="column">
      <h2 class="about-me-title"> I am a Senior React Developer from Codlea, Romania. </h2>
      I have more than 10 years of experience in software development, specialized in front-end technologies – React.js, JavaScript, TypeScript but in the last 2+ years I have also worked as a back-end developer using Java with Adobe Experience Manager and Go.
      My main area of expertise and preferred tech stack is front-end, but I enjoy developing back-end solutions as well.
      I am always looking forward to new challenges and opportunities for self-improvement, both professionally and personally.
      <br/>
      <br/>
      💻 Currently I am only interested in remote work.
      <br/>
      <br/>
      <div>🤝 Let’s <a href="#contact" class="link">connect</a> to establish how I can help your organization!</div>
    </div>
  </div>

  <div class="skills" layout="row" layout-sm="column">
    <div layout="column" flex layout-align-sm="start start" layout-align="start center">
      <div class="container">
        <h3>Front-end skills:</h3>
        <ul>
          <li>React.js, Angular, AngularJS</li>
          <li>JavaScript, TypeScript, JSX, ES6+, jQuery, HTML5, CSS3, Sass, Less</li>
          <li>Webpack, Yarn, npm</li>
          <li>Email development for all major email clients and platforms</li>
        </ul>
      </div>
    </div>

    <div layout="column" flex layout-align-sm="start start" layout-align="start center">
      <div class="container">
        <h3>Back-end skills:</h3>
        <ul>
          <li>Adobe Experience Manager</li>
          <li>Java</li>
          <li>Go (Golang)</li>
          <li>RESTful API</li>
        </ul>
      </div>
    </div>

    <div layout="column" flex layout-align-sm="start start" layout-align="start center">
      <div class="container">
        <h3>DevOps skills:</h3>
        <ul>
          <li>Unix/Linux</li>
          <li>Docker</li>
          <li>Kubernetes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
