<div class="contact-page">
  <h1>contact</h1>

  <div class="contact-page-container" layout="column">
    <div class="drop-me-a-line">
      <h2>Drop me a line</h2>
    </div>

    <div class="contact-form" flex ng-controller="ContactPageCtrl">
      <form ng-if="!resultMessage" name="contactForm" role="form">
        <md-content layout-padding class="autoScroll">
          <md-input-container class="md-icon-float">
            <md-icon md-svg-src="../../images/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="formData.inputName" type="text" placeholder="Name" ng-required="true">
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="../../images/icons/ic_phone_24px.svg"></md-icon>
            <input ng-model="formData.inputPhone" type="text" placeholder="Phone Number" ng-required="true">
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="../../images/icons/ic_email_24px.svg" class="email"></md-icon>
            <input ng-model="formData.inputEmail" type="email" placeholder="Email" ng-required="true">
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="../../images/icons/ic_comment_24px.svg" style="display:inline-block;"></md-icon>
            <input ng-model="formData.inputSubject" type="text" placeholder="Subject" ng-required="true">
          </md-input-container>
          <md-input-container>
            <label>Message</label>
            <textarea ng-model="formData.inputMessage" columns="1" md-maxlength="500" ng-trim="false"
                      aria-multiline="true" tabindex="0" aria-invalid="false" style="height: 81px;"
                      ng-required="true"></textarea>
          </md-input-container>
          <md-button ng-disabled="contactForm.$invalid" ng-click="submit()" class="md-raised md-primary">Send message
          </md-button>
        </md-content>
      </form>

      <p class="result">{{ resultMessage }}</p>

    </div>


  </div>
</div>
