<div class="portfolio-page">
  <h1>portfolio</h1>

  <div class="portfolio-container" layout="row" layout-sm="column">
    <div class="portfolio-item" flex-order="1">
      <img ng-click="showAdvanced($event, 'taj-mahal')" src="../../images/portfolio/taj_490x280.jpg"
           alt="Taj Mahal Brasov" width="330px"/>
    </div>
    <div class="portfolio-item" flex-order="2">
      <img ng-click="showAdvanced($event, 'win')" src="../../images/portfolio/win_490x280.jpg"
           alt="WinWinHost Web Hosting" width="330px"/>
    </div>
    <div class="portfolio-item" flex-order="3">
      <img ng-click="showAdvanced($event, 'exclusiv')" src="../../images/portfolio/exclusiv_490x280.jpg"
           alt="Exclusiv Fenix - Catering & Take away" width="330px"/>
    </div>
  </div>

  <div class="portfolio-container" layout="row" layout-sm="column">
    <div class="portfolio-item" flex-order="4">
      <img ng-click="showAdvanced($event, 'debt')" src="../../images/portfolio/debt_490x280.jpg" alt="Debt Cleaner"
           width="330px"/>
    </div>
    <div class="portfolio-item" flex-order="5">
      <img ng-click="showAdvanced($event, 'digital-spy')" src="../../images/portfolio/digital_spy_490x280.jpg"
           alt="Digital Spying" width="330px"/>
    </div>
    <div class="portfolio-item" flex-order="6">
      <img ng-click="showAdvanced($event, 'dynasty-catering')" src="../../images/portfolio/dynasty_catering_490x280.jpg"
           alt="Dyansty Catering" width="330px"/>
    </div>
  </div>

  <div class="portfolio-container" layout="row" layout-sm="column">
    <div class="portfolio-item" flex-order="7">
      <img ng-click="showAdvanced($event, 'gos')" src="../../images/portfolio/gos_490x280.jpg"
           alt="Graphic Open Systems" width="330px"/>
    </div>
    <div class="portfolio-item" flex-order="8">
      <img ng-click="showAdvanced($event, 'hifi')" src="../../images/portfolio/hifi_490x280.jpg" alt="HiFi Samples"
           width="330px"/>
    </div>
    <div class="portfolio-item" flex-order="9">
      <a href="#contact">
        <img src="../../images/portfolio/want_similar_490x280.png" alt="Want a similar website? Contact me!"
             width="330px"/>
      </a>
    </div>
  </div>

</div>
