<md-dialog aria-label="Debt Cleaner">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Debt Cleaner</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>
        <p>
          The client needed a solution for their web presence consisting on: describing their services, showcasing their
          products and their special offers.
        </p>
        <img style="margin: auto; max-width: 100%;" alt="Debt Cleaner" src="../../../images/portfolio/debt_490x280.jpg">

        <br/>

        <p class="status">
          Status: <span class="offline">offline</span>
        </p>

        <p>
          Visit: <a href="http://www.debt-cleaner.com" target="_blank">Debt Cleaner</a>
        </p>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
