<md-dialog aria-label="GOS - Graphic Open Systems">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>GOS - Graphic Open Systems</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>
        <p>
          The client needed a solution for their web presence consisting on: describing their services, showcasing
          their products and also their special offers.
        </p>
        <img style="margin: auto; max-width: 100%;" alt="GOS - Graphic Open Systems"
             src="../../../images/portfolio/gos_490x280.jpg">

        <p class="status">
          Status: <span class="online">online</span>
        </p>

        <p>
          Visit: <a href="http://www.gos.ro" target="_blank">GOS - Graphic Open Systems</a>
        </p>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
